<div class="nav-bottom-menu">
    <button class="nav-button" @onclick="ModalService.OpenAdventureModal">Przygoda</button>
    <button class="nav-button" @onclick="ModalService.OpenCharacterModal">Postać</button>
</div>